label {
    display: block;
    color: @color-azzurro-menu;
    font-size: 24px;
    margin: .5em 0 1em;
}

input, textarea, .yca-custom-file-upload {
    display: block;
    border: 2px solid @color-azzurro-menu;
    border-radius: 10px;
    margin: .5em 0;
    height: 30px;
    width: 100%;
    padding: 0 15px;
}

textarea {
    min-height: 200px;
    padding: 15px;
}

input[type=submit], .yca-custom-file-upload {
    height: 60px;
    background-color: @color-azzurro-menu;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    text-align: center
}
.yca-custom-file-upload {
    border: 0px solid transparent;
    & > img {
        max-width: 30px;
        max-height: 30px;
        margin: 0 20px;
        vertical-align: middle;
    }
}

input[type=file] {
    display: none;
}

input[type=checkbox] {
    display: none;
    & + span {
        display: inline-block;
        width: 15px;
        margin: 0px 30px;
        height: 15px;
        border: 2px solid @color-azzurro-menu;
    }
    &:checked + span {
        background-color: @color-azzurro-menu;
    }
}

input[type=radio] {
    display: none;
    & + span {
        display: inline-block;
        width: 15px;
        margin: 0px 30px;
        height: 15px;
        border: 2px solid @color-azzurro-menu;
        border-radius: 100%;
    }
    &:checked + span {
        background-color: @color-azzurro-menu;
    }
}

select{
    padding: 20px 40px;
    background-color: #ddd;
    border: 0px solid transparent;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.yca-slimform {
    input {
        border: 1px solid #ccc;
        border-radius: 0px;
    }
}

@media only screen and (max-width: 990px) {
    label {
        font-size: 2rem;
    }
    input {
        height: 60px;
        font-size: 2rem;
    }
}