.os-pebble2 {
	&-calendar {
		display: flex;
		&-left {
			position: relative;
			display: inline-block;
			flex: 10;
		}
		&-right {
			display: inline-block;
			flex: 1;
			& button {
				margin-top: 1.85rem;
    			font-size: 1.4rem;
			}
		}
		&-fields {
			display: flex;
			&-wrapper {
				display: inline-flex;
				flex-direction: column;
				&.flex-1 {
					flex: 1;
				}
				&.flex-2 {
					flex: 2;
				}
				&.flex-4 {
					flex: 4;
				}
			}
			&-title {
				flex: 1;
			}
			&-field, &-separator {
				flex: 2;
				text-align: center;
				font-size: 1.2rem;
				& > p {
					line-height: 2;
					margin: 0;
				}
				& > button {
					font-size: 1.8rem;
					line-height: 2.5rem;
				}
				& > input {
					padding: 0 .5rem;
					text-align: center;
					-moz-appearance:textfield;
					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
						-webkit-appearance: none;
					}
					&:active, &:focus {
					}
				}
				
			}
			&-separator {
				padding-top: 0.2rem;
			}
		}
		&-picker {
			display: none;
			padding: 20px 5px 5px 5px;
			border-top: 4px solid @color-azzurro-menu;
			position: absolute;
			width: 100%;
			z-index: 9999999999 !important;
			&-wrapper {
				border: 1px solid @color-void;
				box-shadow: 0 0 25px 1px #00000022;
				position: relative;
				background-color: @color-light-contrast;
				&:before {
					content: "";
					position: absolute;
					//box-shadow: 0 0px 20px 2px #ddd;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-bottom: 10px solid white;
					height: 20px;
					width: 20px;
					right: 20px;
					top: -20px;
				}
			}
			&-head {
				text-align: center;
				& > div {
					display: inline-block;
				}
				&-arrowleft {
					width: 10px;
					height: 10px;
					position: relative;
					margin-right: 10px;
					&:before {
						content: "";
						position: absolute;
						//box-shadow: 0 0px 20px 2px #ddd;
						border-bottom: 5px solid transparent;
						border-top: 5px solid transparent;
						border-right: 5px solid @color-void;
						height: 10px;
						width: 10px;
						left: 0px;
						top: 0;
					}
				}
				&-arrowright {
					width: 10px;
					height: 10px;
					position: relative;
					margin-left: 10px;
					&:before {
						content: "";
						position: absolute;
						//box-shadow: 0 0px 20px 2px #ddd;
						border-bottom: 5px solid transparent;
						border-top: 5px solid transparent;
						border-left: 5px solid @color-void;
						height: 10px;
						width: 10px;
						right: 0px;
						top: 0;
					}
				}
			}
			&-header {
				display: flex;
				&-day {
					padding: 10px;
    				flex: 1;
					text-align: center;
					color: lighten(@color-void, 30%) !important;
				}
			}
			&-body {
				display: flex;
				flex-direction: column;
				&-buttons {
					width: 100%;
					display: none;
					&-left, &-right {
						& > button {
							margin: 20px;
							color: @color-azzurro-menu;
						}
					}
				}
				&-week {
					display: flex;
				}
				&-day {
					padding: 6px;
    				flex: 1;
					text-align: center;
					color: @color-void;
					& > button {
						color: @color-void;
						width: 30px;
						height: 30px;
						font-weight: 500;
    					display: inline-block;
    					padding: 3px;
						border-radius: 100%;
						&:hover {
							background-color: @color-azzurro-menu;
							color: @color-light-contrast !important;
						}
					}
				}
			}
		}
		&-options {
			&-notthismonth {
				color: lighten(@color-void, 30%) !important;
			}
			&-today {
				background-color: @color-void;
			}
			&-invaliddate {
				text-decoration: line-through;
			}
			&-selected {
				background-color: @color-azzurro-menu !important;
				color: @color-light-contrast !important;
			}
		}
	}
}

.only-mobile-test {
	display: none;
}
