@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.yca-menu-wrapper {
  max-width: 100%;
  padding: 10px 0px;
}
.yca-menu-wrapper-langs {
  display: inline-block;
  opacity: .5;
}
.yca-menu-wrapper-langs img {
  height: 30px;
  width: 60px!important;
  margin: 0px 12px!important;
}
.yca-menu-wrapper-langs.inactive {
  opacity: 1;
}
.yca-menu-wrapper-menu {
  display: flex;
}
.yca-menu-wrapper-menu-element {
  display: inline-block;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  padding: 1px 0px;
  margin: auto;
  width: 19%;
  text-align: center;
}
.yca-menu-wrapper-menu-element img {
  width: 16vw;
  vertical-align: top;
}
.yca-menu-wrapper-menu-element a {
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  color: #3260ab;
}
.yca-menumobile-wrapper {
  display: none;
}
.yca-menu-green-number {
  position: absolute;
  bottom: -200px;
  z-index: 8;
  height: 350px;
  width: 350px !important;
}
@media only screen and (max-width: 999px) {
  .yca-menu-wrapper {
    max-width: 100%;
    width: 100%;
  }
  .yca-menu-wrapper-hamburger img {
    height: 64px;
  }
  .yca-menu-wrapper-menu-element:not(.yca-menu-wrapper-hamburger) {
    margin: auto;
    display: none;
    padding: 5px;
  }
  .yca-menu-wrapper-menu-element:not(.yca-menu-wrapper-hamburger) ul {
    display: none !important;
  }
  .yca-menu-wrapper-menu-element:not(.yca-menu-wrapper-hamburger) a {
    font-size: 36px;
  }
}
.yca-banner-wrapper {
  width: 100%;
  margin: 20px 0;
}
.yca-banner-image {
  display: inline-block;
  width: 60%;
  margin-left: 10%;
  position: relative;
}
.yca-banner-image img {
  max-width: 100%;
  width: 100%;
  float: right;
}
.yca-banner-image:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 50px solid white;
  border-left: 50px solid transparent;
  width: 0;
}
.yca-banner-text {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.yca-banner-text-inner {
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
}
.yca-banner-text p {
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #e7dfdd;
  text-align: justify;
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .yca-banner-image {
    width: 50%;
    margin: 0px;
  }
  .yca-banner-text {
    width: 30%;
  }
  .yca-banner-text-inner {
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
  }
  .yca-banner-text p {
    margin: 0 10px;
    padding: 10px 10px;
    font-size: 14px;
    color: #e7dfdd;
    text-align: justify;
  }
}
@media only screen and (min-width: 10px) and (max-width: 999px) {
  .yca-banner-wrapper {
    position: relative;
  }
  .yca-banner-image {
    width: 100%;
    margin: 0px;
  }
  .yca-banner-image img {
    width: 100%;
  }
  .yca-banner-text {
    position: relative;
    width: 100%;
    top: 10px;
    right: 0px;
  }
  .yca-banner-text-inner {
    margin: 5px 0;
    font-size: 66px;
    position: absolute;
    top: -200px;
  }
  .yca-banner-text p {
    font-size: 36px;
    color: #fff;
    background-color: #ccc;
  }
  .yca-banner-text-high {
    font-size: 58px;
  }
}
.yca-smallbanner-wrapper {
  width: 30%;
  padding: 10px 30px;
  display: inline-block;
}
.yca-smallbanner-image {
  display: block;
  width: 100%;
  position: relative;
}
.yca-smallbanner-image img {
  max-width: 100%;
}
.yca-smallbanner-image:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  width: 0;
}
.yca-smallbanner-text {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.yca-smallbanner-text-inner {
  font-size: 24px;
  padding: 10px 0px;
  text-transform: uppercase;
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .yca-smallbanner-wrapper {
    width: 50%;
  }
}
@media only screen and (max-width: 999px) {
  .yca-smallbanner {
    width: 100%;
    margin: 0px;
  }
  .yca-smallbanner-wrapper {
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
  }
  .yca-smallbanner-image {
    width: 100%;
    margin: 0px;
  }
  .yca-smallbanner-image img {
    width: 100%;
  }
  .yca-smallbanner-text {
    width: 100%;
  }
  .yca-smallbanner-text-inner {
    font-size: 32px;
  }
}
.yca-related-wrapper {
  width: 100%;
  margin: 20px 0;
}
.yca-related-image {
  display: inline-block;
  width: 30%;
  position: relative;
}
.yca-related-image img {
  max-width: 100%;
}
.yca-related-text {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
.yca-related-title {
  color: #a239ca;
  text-transform: uppercase;
  font-size: 34px;
}
.yca-related-description {
  color: #4717f6;
  text-transform: uppercase;
  font-size: 24px;
}
.yca-related-separator {
  max-width: 100%;
}
.yca-slider {
  white-space: nowrap;
  position: relative;
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
.yca-slider-internal {
  display: inline-block;
  width: 100%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  position: relative;
}
.yca-slider-internal > a {
  display: inline-block;
  color: black;
  width: 480px;
  max-width: 100%;
  vertical-align: top;
  margin: 0 20px 0 0;
}
.yca-slider-internal > a:last-child {
  margin: 0 80px 0 0 !important;
}
.yca-slider-internal > a:first-child {
  margin: 0 20px 0 80px !important;
}
.yca-slider-internal-play {
  height: 50%;
  width: 100%;
  z-index: 300;
  position: absolute;
  transform: translateY(100%);
}
.yca-slider-internal-play-button {
  position: relative;
  display: block;
  margin: auto;
  width: 20%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .yca-slider-internal > a:last-child {
    margin: 0 20px 0 0 !important;
  }
  .yca-slider-internal > a:first-child {
    margin: 0 20px 0 20px !important;
  }
}
@media only screen and (max-width: 999px) {
  .yca-slider {
    max-width: 100%;
  }
  .yca-slider-internal > a:first-child {
    margin: 0 20px 0 0 !important;
  }
  .yca-slider-internal > a:last-child {
    margin: 0 !important;
  }
}
.yca-sliderelement-wrapper {
  max-width: 100%;
  white-space: nowrap;
  display: inline-block;
}
.yca-sliderelement-text {
  color: #a239ca;
  position: absolute;
  z-index: 3;
  padding: 10px;
}
.yca-sliderelement-image {
  max-width: 100%;
}
.yca-sliderelement-image img {
  max-width: 100%;
  position: relative;
}
.yca-sliderelement-image img:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  width: 0;
}
.yca-bluepanel-imagewrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
}
.yca-bluepanel-imagewrapper img {
  width: 100px;
  height: 100px;
}
.yca-bluepanel-text {
  color: #ffffff;
  text-transform: lowercase;
  text-align: center;
  height: 20px;
  font-size: 36px;
  line-height: 20px;
  margin: 40px 0px 20px;
}
.yca-bluepanel-wrapper {
  height: 240px;
  width: 200px;
  padding: 20px;
  text-align: center;
  flex: auto;
}
.yca-whitepanel-imagewrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  background-color: #3260ab;
}
.yca-whitepanel-imagewrapper img {
  width: 100px;
  height: 100px;
}
.yca-whitepanel-text {
  color: #3260ab;
  text-transform: lowercase;
  text-align: center;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  margin: 40px 0px 20px;
}
.yca-whitepanel-wrapper {
  height: 160px;
  width: 200px;
  padding: 20px;
  text-align: center;
  flex: auto;
}
.yca-stdpanel-imagewrapper {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  /* margin: auto; */
  background-color: #3260ab;
  display: inline-block;
  vertical-align: middle;
}
.yca-stdpanel-imagewrapper img {
  width: 100px;
  height: 100px;
}
.yca-stdpanel-text {
  color: #3260ab;
  display: inline-block;
  text-transform: lowercase;
  /* text-align: center; */
  height: 26px;
  vertical-align: middle;
  font-size: 2.8rem;
  line-height: 26px;
  margin: 20px 40px;
}
.yca-stdpanel-wrapper {
  height: 160px;
  min-width: 400px;
  padding: 20px;
  text-align: left;
  flex: 1;
}
.yca-faqpanel-wrapper {
  display: flex;
  margin: 32px 0;
  width: 100%;
  height: 200px;
}
.yca-faqpanel-arrow {
  flex: 1;
  max-width: 50px;
  padding: 75px 0;
}
.yca-faqpanel-arrow img {
  max-width: 100%;
  height: 50px;
}
.yca-faqpanel-logo {
  padding: 50px;
}
.yca-faqpanel-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.yca-faqpanel-container {
  flex: 5;
  display: flex;
  height: 200px;
  background-color: #d1d1d4;
}
.yca-faqpanel-logo,
.yca-faqpanel-right {
  flex: 1;
}
.yca-faqpanel-left {
  flex: 8;
}
.yca-faqpanel-left h1,
.yca-faqpanel-left p {
  color: #000;
}
.yca-faqpanel-left h1 {
  text-transform: uppercase;
  font-size: 1.75rem;
}
.yca-faqpanel-left p {
  font-weight: 300;
  font-size: 1.35rem;
}
.yca-faqpanel-right {
  padding: 50px 90px;
}
.yca-anchor-main {
  color: #d1d1d4;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 32px 64px;
  background-color: #fdfdfd;
  border-radius: 20px;
  border: 2px solid #d1d1d4;
  display: inline-block;
  cursor: pointer;
}
.yca-anchor-main:hover {
  background-color: #f0f0f0;
}
.yca-anchor-light {
  color: #d1d1d4;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 2px 4px;
  display: inline-block;
  cursor: pointer;
}
.yca-anchor-light:hover {
  color: #c4c4c8;
}
/* The Modal (background) */
.yca-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.yca-modal-content {
  margin: auto;
  margin-top: 25%;
  padding: 20px;
  transform: translateY(-50%);
  max-width: 50vw;
  background-color: #fff;
  max-height: 80%;
  overflow: auto;
}
.yca-modal-cross {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.os-thumbbox {
  white-space: nowrap;
  position: relative;
}
.os-thumbbox-points {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 10px;
  margin-bottom: 32px;
}
.os-thumbox-ball {
  display: inline-block;
  cursor: pointer;
  flex: 1;
  background-color: #333;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
}
.os-thumbox-ball-selected {
  background-color: #3260ab99;
}
.os-thumbbox-internal {
  display: inline-block;
  width: 100%;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: top;
  margin-bottom: 70px;
  padding: 0 100px;
  text-align: center;
}
.os-thumbbox-internal > a {
  display: inline-block;
  color: black;
  width: 480px;
  max-width: 100%;
  vertical-align: top;
  margin: 0 20px 0 0;
}
.os-thumbbox-internal > a:last-child {
  margin: 0 80px 0 0 !important;
}
.os-thumbbox-internal > a:first-child {
  margin: 0 20px 0 80px !important;
}
.os-thumbbox-internal > * {
  vertical-align: top;
}
.os-thumbbox:hover > .os-thumbbox-next,
.os-thumbbox:hover > .os-thumbbox-previous {
  opacity: 1;
}
.os-thumbbox-next {
  right: 0px;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  transition: all 1s;
  cursor: pointer;
  margin: 24px;
  width: 36px;
  height: 36px;
  z-index: 4;
}
.os-thumbbox-next img {
  width: 72px;
}
.os-thumbbox-previous {
  float: left;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  transition: all 1s;
  cursor: pointer;
  margin: 24px;
  width: 36px;
  height: 36px;
  z-index: 4;
}
.os-thumbbox-previous img {
  width: 72px;
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .os-thumbbox-internal > a:last-child {
    margin: 0 20px 0 0 !important;
  }
  .os-thumbbox-internal > a:first-child {
    margin: 0 20px 0 20px !important;
  }
}
@media only screen and (max-width: 999px) {
  .os-thumbbox-next,
  .os-thumbbox-previous {
    display: none !important;
  }
  .os-thumbbox-internal > a:first-child {
    margin: 0 20px 0 0 !important;
  }
  .os-thumbbox-internal > a:last-child {
    margin: 0 !important;
  }
}
@media only screen and (max-width: 1440px) {
  .os-thumbbox-next,
  .os-thumbbox-previous {
    display: inline-block;
  }
  .os-thumbbox {
    white-space: nowrap;
  }
  .os-thumbbox-internal {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .os-thumbbox-internal::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
  }
}
.yca-thumbnews-wrapper {
  min-width: 400px;
  width: 30%;
  display: inline-flex;
  background-color: #d1d1d4;
  margin: 0 1%;
  white-space: normal;
}
.yca-thumbnews-image {
  flex: 1;
  width: 50%;
  height: 400px;
}
.yca-thumbnews-image img {
  max-width: 300px;
  max-height: 300px;
}
.yca-thumbnews-textwrapper {
  position: relative;
  flex: 1;
  text-align: left;
  height: 400px;
  color: #fff;
  padding: 30px 10px;
}
.yca-thumbnews-textwrapper h1 {
  font-size: 26px;
}
.yca-thumbnews-textwrapper a {
  bottom: 30px;
  position: absolute;
}
.yca-shard-faq {
  padding: 5px 10px;
  margin: 10px 0;
  border: 0px solid transparent;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  height: 111px;
  position: relative;
}
.yca-shard-faq-inner {
  position: absolute;
  top: 0;
  width: 100%;
}
.yca-shard-faq.yca-to-left {
  text-align: left;
}
.yca-shard-faq.yca-to-right {
  text-align: right;
}
.yca-shard-faq-logo {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}
.yca-shard-faq-logo > img {
  width: 100%;
}
.yca-shard-faq-left {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
}
.yca-shard-faq-left.yca-to-left {
  text-align: left;
  margin: 0 10px;
}
.yca-shard-faq-left.yca-to-right {
  text-align: right;
  margin-right: 10px;
}
.yca-shard-faq-left-title {
  color: #000;
  font-size: 1.2rem;
  padding: 0 20px;
}
.yca-shard-faq-left-subtitle {
  padding: 0 20px;
}
.yca-shard-faq-left-subtitle:after {
  content: "[...scopri di più...]";
}
.yca-shard-faqcategory-title {
  display: block;
  text-transform: uppercase;
  margin-top: 50px;
}
.yca-shard-faqcategory-title.yca-to-left {
  text-align: right;
}
.yca-shard-faqcategory-title.yca-to-right {
  text-align: left;
}
.yca-shard-faqcategory-title > h1 {
  padding: 10px 0;
  color: #3260ab;
  margin: 0;
  display: inline-block;
  border-top: 4px solid #3260ab;
  border-bottom: 4px solid #3260ab;
  font-size: 3.8rem;
}
.yca-shard-faqcategory-container {
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}
.yca-shard-faqcategory-container-logo {
  width: 20vw;
  height: 20vw;
  display: inline-block;
  min-height: 20vw;
  min-width: 20vw;
  vertical-align: middle;
}
.yca-shard-faqcategory-container-logo > img {
  width: 20vw;
  position: absolute;
}
.yca-shard-faqcategory-container-logo.yca-to-left > img {
  left: -50px;
}
.yca-shard-faqcategory-container-logo.yca-to-right > img {
  right: -50px;
}
.yca-shard-faqcategory-container-faq {
  display: inline-block;
  vertical-align: middle;
  width: 60vw;
  padding: 0 6vw;
}
.yca-to-left {
  text-align: left;
}
.yca-to-right {
  text-align: right;
}
.yca-offerte-containerofferte {
  margin: 20px auto 10px;
  display: flex;
}
.yca-pricebadge-description {
  padding: 10px 5px;
  font-size: 1.4rem;
  flex: 1;
}
.yca-pricebadge-description-titolo {
  font-weight: 700;
}
@media only screen and (max-width: 999px) {
  .yca-offerte-containerofferte {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    flex-direction: column;
  }
  .yca-pricebadge-description {
    padding: 10px;
    font-size: 1.8rem;
  }
  .yca-pricebadge-description-titolo {
    font-weight: 700;
  }
}
.yca-category-header-text {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 0px;
}
.yca-category-header-text-inner {
  font-size: 36px;
  padding: 20px 40px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.yca-category-description p {
  color: #e7dfdd;
  font-size: 18px;
  padding: 30px 20%;
  text-align: justify;
}
.yca-category-isometrica {
  max-width: 100%;
  width: 100%;
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .yca-category-header-text-inner {
    text-align: center;
  }
}
@media only screen and (max-width: 999px) {
  .yca-category-header-text-inner {
    text-align: center;
  }
}
.yca-company-description {
  display: block;
  width: 80%;
  margin: auto;
}
.yca-company-description p {
  color: #e7dfdd;
  font-size: 18px;
  text-align: justify;
}
.yca-company-description img {
  margin-right: 20px;
}
.yca-company-texts {
  padding: 10px 10%;
}
@media only screen and (min-width: 1000px) and (max-width: 1440px) {
  .yca-company-description {
    width: 70%;
  }
}
@media only screen and (max-width: 999px) {
  .yca-company-description {
    width: 80%;
  }
}
.yca-image-product {
  width: 45%;
  margin: auto;
  display: inline-block;
  padding: 20px;
}
.yca-dist-wrapper {
  display: inline-block;
  width: 25%;
  padding: 20px 30px;
  border: 1px #666666 solid;
  min-height: 450px;
  vertical-align: top;
  margin: 30px 2%;
}
.yca-dist-wrapper img {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}
.yca-dist-wrapper h1 {
  display: inline-block;
  width: 83%;
  font-size: 24px;
  vertical-align: middle;
}
.yca-dist-wrapper h2 {
  font-size: 18px;
  padding: 10px 0px;
  text-transform: none;
}
.yca-dist-wrapper p {
  font-size: 14px;
}
.yca-contacts-text {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.yca-contacts-text p {
  color: #e7dfdd;
  font-size: 18px;
  padding: 10% 30px;
  text-align: justify;
}
.yca-contacts-map {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
.yca-contatti-blacktitle {
  color: #000000;
  text-align: left;
  font-size: 26px;
}
.yca-green-number-text {
  color: #006600;
  font-size: 34px;
  padding: 0;
}
.yca-contatti-greyparagraph {
  color: #a88b83;
}
.yca-contatti-whiteparagraph {
  color: #ffffff;
}
.yca-home-whitebutton {
  border-radius: 10px;
  border: 4px solid #3260ab;
  padding: 20px;
  font-size: 24px;
  color: #3260ab;
  background-color: #ffffff;
}
.yca-home-claim {
  font-size: 72px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
.yca-home-bottomfloater {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.yca-home-blue {
  background-color: #3260ab;
  display: flex;
  flex-wrap: nowrap;
}
.yca-home-white {
  background-color: #fff;
  display: flex;
  flex-wrap: nowrap;
}
h1.yca-home-underlined {
  font-size: 72px;
  display: inline-block;
  text-transform: none;
  padding: 0 0 50px 100px;
  color: #3260ab;
  border-bottom: 4px solid #e7dfdd;
}
h2.yca-home-underlined {
  font-size: 48px;
  display: inline-block;
  text-transform: none;
  padding: 0 0 25px 50px;
  color: #ffffff;
  border-bottom: 4px solid #e7dfdd;
}
h2.yca-home-casaimpresa {
  color: #999;
  padding: 0 60px;
  height: 50px;
  line-height: 50px;
  background-color: #333;
  margin: 0;
  cursor: pointer;
  position: relative;
}
h2.yca-home-casaimpresa:not(:last-child).selected {
  background-color: #ccc;
}
h2.yca-home-casaimpresa:not(:last-child).selected::after {
  content: "";
  position: absolute;
  right: -30px;
  border-top: #ccc 25px solid;
  border-left: #ccc 25px solid;
  border-right: #333 25px solid;
  border-bottom: #333 25px solid;
  z-index: 3;
}
h2.yca-home-casaimpresa:not(:first-child).selected {
  background-color: #ccc;
}
h2.yca-home-casaimpresa:not(:first-child).selected::before {
  content: "";
  position: absolute;
  left: -30px;
  border-top: #333 25px solid;
  border-left: #333 25px solid;
  border-right: #ccc 25px solid;
  border-bottom: #ccc 25px solid;
  z-index: 3;
}
h2.yca-home-casaimpresa:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -30px;
  border-top: #333 25px solid;
  border-left: #333 25px solid;
  border-right: #ccc 25px solid;
  border-bottom: #ccc 25px solid;
  z-index: -1;
}
.yca-home-offerte-wrapper {
  width: 100%;
  display: flex;
}
.yca-home-offerte-offerta {
  background-size: cover;
  background-position: center center;
  width: 50%;
  flex: 1;
  height: 36vw;
  display: inline-block;
}
.yca-home-offerte-offerta-testo {
  color: #fff;
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  padding: 40px 0 0 60px;
  margin: 0;
  border-bottom: 3px solid #fff;
}
.yca-home-bigbluepanel-wrapper {
  margin: 50px 0;
  width: 100%;
  background-color: #3260ab;
}
.yca-home-bigbluepanel-title {
  width: 33%;
  max-width: 33%;
  display: inline-block;
  vertical-align: middle;
  padding: 30px;
}
.yca-home-bigbluepanel-title p {
  font-size: 3.8rem;
  color: #fff;
  margin: 0 0 30px 0;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
.yca-home-bigbluepanel-button {
  width: 33%;
  max-width: 33%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.yca-home-bigbluepanel-button a {
  display: inline-block;
  margin: auto;
  color: #3260ab;
  border: 4px solid #3260ab;
  background-color: #fff;
  box-shadow: 4px 8px 20px 10px #00000033;
  font-size: 3rem;
  padding: 10px 20px;
  border-radius: 40px;
}
.yca-home-bigbluepanel-image {
  display: inline-block;
  width: 33%;
  max-width: 33%;
  vertical-align: middle;
  height: 100%;
  min-height: 400px;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}
.yca-offerte-wrapper {
  display: table;
}
.yca-offerte-wrapper-sep {
  display: table-cell;
}
.yca-offerte-wrapper-sep > div {
  width: 4px;
  margin: 50px 60px;
  height: 100%;
}
.yca-faq {
  display: inline-block;
  background-color: #d1d1d4;
  max-width: 15vw;
  margin: 20px 2.5vw;
  padding: 60px 0;
}
.yca-faq-img {
  max-width: 100%;
}
.yca-faq-question {
  font-size: 24px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 700;
}
.yca-faq-title {
  font-size: 36px;
  color: #333;
  text-align: left;
  margin: 50px 0 0 2.5vw;
}
.yca-faq-button {
  display: block;
  background-color: #4d4d4d;
  margin: auto;
  min-width: 100px;
  min-height: 50px;
  border: 0px solid transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
}
.yca-news-wrapper {
  margin: 50px auto;
  width: 100%;
  background-color: #d1d1d4;
}
.yca-news-title {
  padding: 30px;
  font-size: 2.8rem;
  color: #fff;
}
.yca-news-date {
  padding: 30px;
  font-size: .8rem;
  color: #fff;
}
.yca-news-image {
  height: 540px;
}
.yca-news-description {
  padding: 30px;
  font-size: 1.2rem;
  color: #fff;
}
.yca-news .yca-anchor-main {
  margin: 0px 0px 30px 30px;
}
.yca-blognews-title {
  font-size: 4rem;
}
.yca-territori-affianca {
  width: 100%;
}
.yca-territori-affianca-left,
.yca-territori-affianca-right {
  display: inline-block;
  padding: 10px 30px;
}
.yca-territori-title {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 18px;
  text-align: left;
}
.yca-territori-squarepre {
  text-decoration: none;
  font-size: 24px;
}
.yca-territori-squarepre:before {
  content: "";
  display: inline-block;
  /* border: 12px solid #333; */
  width: 12px;
  height: 12px;
  background-color: #333;
  margin-right: 10px;
}
.yca-territori-greentable {
  margin-top: 70px;
}
.yca-territori-greentable td {
  width: 50%;
  text-align: center;
  background-color: #657a84;
}
.yca-territori-purpletable td:nth-child(odd) {
  background-color: #4a4f57;
  color: #ccc;
}
.yca-territori-purpletable td:nth-child(even) {
  background-color: #657a84;
  color: #ccc;
}
.yca-territori-greytable th {
  background-color: #dddddd;
  color: #4a4f57;
}
.yca-territori-greytable tbody {
  background-color: #dddddd;
  border-left: 1px solid #4a4f57;
  border-right: 1px solid #4a4f57;
}
.yca-territori-greytable td {
  background-color: #efefef;
  padding: 10px;
  color: #4a4f57;
}
.yca-territori-bluetable th {
  background-color: #657a84;
}
table {
  margin: 20px auto;
  width: 60vw;
}
table th,
table td {
  font-size: 18px;
  padding: 30px 10px;
  color: #ccc;
}
table tr:first-child {
  border: 1px solid #000;
}
.yca-utils-privacy h1 {
  font-size: 2.8rem;
  color: #3260ab;
  text-decoration: underline;
  text-align: left;
}
.yca-utils-privacy h2 {
  font-size: 1.8rem;
  color: #3260ab;
  text-decoration: underline;
  text-align: left;
}
.yca-utils-privacy h3 {
  font-size: 1.4rem;
  color: #000;
  font-weight: 700;
  text-align: left;
  margin: .75rem 0 0 0;
}
.yca-utils-privacy p {
  margin: 0 0 .75rem 0;
}
.yca-utils-privacy img {
  margin-top: 6rem;
}
label {
  display: block;
  color: #3260ab;
  font-size: 24px;
  margin: .5em 0 1em;
}
input,
textarea,
.yca-custom-file-upload {
  display: block;
  border: 2px solid #3260ab;
  border-radius: 10px;
  margin: .5em 0;
  height: 30px;
  width: 100%;
  padding: 0 15px;
}
textarea {
  min-height: 200px;
  padding: 15px;
}
input[type=submit],
.yca-custom-file-upload {
  height: 60px;
  background-color: #3260ab;
  color: #fff;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}
.yca-custom-file-upload {
  border: 0px solid transparent;
}
.yca-custom-file-upload > img {
  max-width: 30px;
  max-height: 30px;
  margin: 0 20px;
  vertical-align: middle;
}
input[type=file] {
  display: none;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + span {
  display: inline-block;
  width: 15px;
  margin: 0px 30px;
  height: 15px;
  border: 2px solid #3260ab;
}
input[type=checkbox]:checked + span {
  background-color: #3260ab;
}
input[type=radio] {
  display: none;
}
input[type=radio] + span {
  display: inline-block;
  width: 15px;
  margin: 0px 30px;
  height: 15px;
  border: 2px solid #3260ab;
  border-radius: 100%;
}
input[type=radio]:checked + span {
  background-color: #3260ab;
}
select {
  padding: 20px 40px;
  background-color: #ddd;
  border: 0px solid transparent;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.yca-slimform input {
  border: 1px solid #ccc;
  border-radius: 0px;
}
@media only screen and (max-width: 990px) {
  label {
    font-size: 2rem;
  }
  input {
    height: 60px;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 999px) {
  .yca-home-offerte-wrapper {
    display: block;
  }
  .yca-home-offerte-offerta {
    width: 100%;
  }
  .yca-home-bigbluepanel-wrapper {
    text-align: center;
  }
  .yca-home-bigbluepanel-title {
    max-width: 100%;
    width: 100%;
  }
  .yca-home-bigbluepanel-button {
    margin-bottom: 30px;
  }
  .yca-offerte-wrapper-offerte {
    width: 100% ! important;
  }
  .yca-home-casaimpresa {
    font-size: 26px;
  }
  .yca-offerte-threebuttons {
    flex-direction: row !important;
    float: none ! important;
  }
  .yca-offerte-threebuttons > div {
    display: inline-block !important;
    flex: 1 !important;
  }
  .yca-offerte-threebuttons > div > button {
    font-size: 54px;
  }
  .yca-territori-title {
    font-size: 48px !important;
  }
  .yca-territori-squarepre {
    font-size: 36px !important;
  }
  th {
    font-size: 36px !important;
  }
  td {
    font-size: 30px !important;
  }
  .yca-territori-note {
    font-size: 18px !important;
  }
  .yca-territori-connoi {
    width: 50%;
    max-width: 100%;
  }
  .yca-autoflex-column {
    flex-direction: column;
  }
  .yca-shard-faqcategory-container-faq {
    width: 100%;
  }
  .yca-shard-faq-inner {
    right: 0px !important;
    left: 0px !important;
  }
  .yca-shard-faq-left-title {
    font-size: 1.6rem;
  }
  .yca-shard-faq-left-subtitle {
    font-size: 1.8rem;
  }
  .yca-shard-faq {
    height: 220px;
  }
  .yca-shard-faqcategory-container-logo {
    display: none;
  }
  .yca-modal-content {
    max-width: 100%;
    transform: none;
  }
  .yca-modal-content > div {
    font-size: 24px;
  }
}
body,
html {
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  color: #0e0b16;
}
* {
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}
#yca-header,
#yca-main,
#yca-footer {
  width: 80vw;
  margin: auto;
  position: relative;
}
#yca-main {
  width: 80vw;
}
.yca-autoflex {
  flex: 1;
  padding: 30px;
}
.yca-footer {
  background-color: #3260ab99;
  color: #fff;
  text-align: left;
  font-size: 14px;
  padding: 10px 0px;
  display: flex;
}
.yca-footer a {
  color: #fff;
}
.yca-footer div {
  flex: 1;
  padding: 0 30px;
}
.yca-footer div:not(:first-child) {
  border-left: 2px solid #fff;
}
.yca-footer-title {
  font-size: 2rem;
  font-weight: 500;
  text-transform: lowercase;
  color: #fff;
}
.yca-footer-big {
  font-size: 1rem;
  font-weight: 700;
}
.yca-footer-small {
  font-size: .9rem;
  font-weight: 500;
}
.yca-cover {
  max-width: 100%;
  width: 90%;
  margin: 0 5%;
}
h1 {
  font-size: 36px;
  text-transform: uppercase;
  color: #e7dfdd;
}
h1 a {
  color: #d2c3bf;
}
h2 {
  font-size: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #e7dfdd;
}
h3 {
  font-size: 24px;
  width: 100%;
  display: block;
  text-transform: none;
  color: #e7dfdd;
  text-align: center;
}
.yca-smalldrops {
  position: absolute;
  padding: 240px 20px;
  color: #fff;
  font-size: 92px;
  line-height: 102px;
  top: 0px;
  left: 0px;
}
.os-header-navmobile {
  display: none;
}
.yca-dettagli-sidebar {
  font-size: 3rem;
  line-height: 6rem;
  font-family: Ubuntu, sans-serif;
}
.yca-main-wrapper {
  display: flex;
  width: 80%;
  margin: auto;
}
.yca-main-main {
  display: inline-block;
  flex: 4;
  padding: 30px;
  margin: 0 !important;
}
.yca-main-side {
  display: inline-block;
  flex: 1;
  padding: 30px;
}
.yca-main-side > div > a {
  width: 100%;
  margin: 15px 0;
  padding: .4rem 1.2rem;
}
@media only screen and (max-width: 1440px) {
  h1 {
    font-size: 24px;
  }
  h1 a {
    color: #d2c3bf;
  }
  h2 {
    font-size: 18px;
    padding: 10px 10px;
  }
  h3 {
    font-size: 16px;
    width: 100%;
  }
  .yca-menu-green-number {
    position: absolute;
    bottom: -100px;
    z-index: 8;
    height: 200px;
    width: 200px !important;
  }
  #yca-header,
  #yca-main,
  #yca-footer {
    width: 100vw;
    margin: auto;
    position: relative;
  }
  .yca-smalldrops {
    padding: 60px 10px;
    color: #fff;
    font-size: 62px;
    line-height: 82px;
  }
  .yca-wrapper {
    width: 100vw !important;
  }
  .yca-wrapper > div > img {
    max-width: 100%;
  }
  .yca-home-claim {
    font-size: 36px;
  }
  .yca-home-whitebutton {
    font-size: 24px;
  }
  .yca-dettagli-sidebar {
    font-size: 2.5remrem;
    line-height: 3rem;
    font-family: Ubuntu, sans-serif;
  }
}
@media only screen and (max-width: 999px) {
  .yca-menu-wrapper {
    display: none;
  }
  .os-header {
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0px;
    height: 48px;
  }
  .os-header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .os-header-nav,
  .os-header-navtablet,
  .os-header-navright {
    display: none;
  }
  .os-header-navmobile {
    width: 100%;
    display: block;
    margin: 0;
    z-index: 3;
  }
  .os-header-navmobile-hamburger {
    padding: 0 18px;
  }
  .os-header-navmobile-hamburger > img {
    width: 64px;
  }
  .os-header-navmobile-hamburger span {
    font-size: 24px;
    line-height: 48px;
  }
  .os-header-navmobile-logo {
    margin: auto;
    height: 48px;
    width: 165px;
    padding: 6px 0;
    display: inline-block;
    display: block;
  }
  .os-header-navmobile-logo-container {
    position: absolute;
    left: 50%;
    height: 48px;
    width: 165px;
    /* transform: translateX(-82px); */
    margin-left: -82.5px;
  }
  .os-header-navmobile-container {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000099;
    overflow-y: scroll;
    z-index: 333;
  }
  .os-header-navmobile-header {
    background-color: #eef7f0;
    padding: 30px 20px;
    white-space: normal;
  }
  .os-header-navmobile-header > a,
  .os-header-navmobile-header > button {
    display: inline-block;
    margin: 0;
    width: 100%;
    margin-bottom: 12px;
  }
  .os-header-navmobile-header > a:first-child {
    margin-top: 40px;
  }
  .os-header-navmobile-body {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 300px;
    position: absolute;
    left: -300px;
    min-height: 100%;
    background-color: #fff;
  }
  .os-header-navmobile-body > a,
  .os-header-navmobile-body > button {
    display: block;
    text-align: left;
    padding: 15px;
    background-color: #fff;
  }
  .os-header-navmobile-body > a span,
  .os-header-navmobile-body > button span {
    color: #666;
    vertical-align: middle;
    padding: 0 13px;
    font-size: 2.6rem;
  }
  .os-header-navmobile-body > a:hover,
  .os-header-navmobile-body > button:hover {
    background-color: #f2f2f2;
  }
  .os-header-navmobile-body > a:not(:first-child),
  .os-header-navmobile-body > button:not(:first-child) {
    border-top: 1px solid #e6e6e6;
    border-radius: 0;
  }
  .yca-smalldrops {
    padding: 5px 5px;
    color: #fff;
    font-size: 4em;
    line-height: 2em;
  }
  .yca-footer {
    flex-direction: column;
  }
  .yca-footer div,
  .yca-footer a,
  .yca-footer p,
  .yca-footer h1 {
    font-size: 2rem;
  }
  .yca-autoflex-columnifmobile > div {
    flex-direction: column;
  }
}
