.yca-category {
    &-header-text {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        cursor: pointer;
        top: 30px;
        left: 0px;
        &-inner {
            font-size: 36px;
            padding: 20px 40px;
            color: #fff;
            text-transform: uppercase;
            display: inline-block;
        }
    }
    &-description {
        & p {
            color: @color-stark;
            font-size: 18px;
            padding: 30px 20%;
            text-align: justify;
        }
    }
    &-isometrica {
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1440px) {
    .yca-category {
        &-header-text {
            &-inner {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 999px) {
    .yca-category {
        &-header-text {
            &-inner {
                text-align: center;
            }
        }
    }
}