.yca-company {
    &-description {
        display: block;
        width: 80%;
        margin: auto;
        & p {
            color: @color-stark;
            font-size: 18px;
            text-align: justify;
        }
        & img {
            margin-right: 20px;
        }
    }
    &-texts {
        padding: 10px 10%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1440px) {
    .yca-company {
        &-description {
            width: 70%;
        }
    }
}
@media only screen and (max-width: 999px) {
    .yca-company {
        &-description {
            width: 80%;
        }
    }
}
