.yca-contacts {
    &-text {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        & p {
            color: @color-stark;
            font-size: 18px;
            padding: 10% 30px;
            text-align: justify;
        }
    }
    &-map {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
    }
}

.yca-contatti-blacktitle {
    color: #000000;
    text-align: left;
    font-size: 26px;
}

.yca-green-number-text {
    color: #006600;
    font-size: 34px;
    padding: 0;
}

.yca-contatti-greyparagraph {
    color: darken(#e7dfdd, 30%);
}

.yca-contatti-whiteparagraph {
    color: lighten(#e7dfdd, 30%);
}