.yca-dist {
    &-wrapper {
        display: inline-block;
        width: 25%;
        padding: 20px 30px;
        border: 1px #666666 solid;
        min-height: 450px;
        vertical-align: top;
        margin: 30px 2%;
        & img {
            width: 15%;
            display: inline-block;
            vertical-align: middle;
            padding: 5px;
        }
        & h1 {
            display: inline-block;
            width: 83%;
            font-size: 24px;
            vertical-align: middle;
        }
        & h2 {
            font-size: 18px;
            padding: 10px 0px;
            text-transform: none;
        }
        & p {
            font-size: 14px;
        }
    }
}