.yca-faq {
    display: inline-block;
    background-color: #d1d1d4;
    max-width: 15vw;
    margin: 20px 2.5vw;
    //height: 15vw;
    padding: 60px 0;
    &-img {
        max-width: 100%;
    }
    &-question {
        font-size: 24px;
        padding: 10px 20px;
        text-align: center;
        font-weight: 700;
    }
    &-title {
        font-size: 36px;
        color: #333;
        text-align: left;
        margin: 50px 0 0 2.5vw;
    }
    &-button {
        display: block;
        background-color: #4d4d4d;
        margin: auto;
        min-width: 100px;
        min-height: 50px;
        border: 0px solid transparent;
        border-radius: 10px;
        color: #fff;
        font-size: 24px;
    }
}


.yca-news {
    &-wrapper {
        margin: 50px auto;
        width: 100%;
        background-color: #d1d1d4;
    }
    &-title {
        padding: 30px;
        font-size: 2.8rem;
        color: #fff;
    }
    &-date {
        padding: 30px;
        font-size: .8rem;
        color: #fff;
    }
    &-image {
        height: 540px;
    }
    &-description {
        padding: 30px;
        font-size: 1.2rem;
        color: #fff;
    }
    & .yca-anchor-main {
        margin: 0px 0px 30px 30px
    }
}

.yca-blognews {
    &-title {
        font-size: 4rem;
    }
}