.yca-home{
    &-whitebutton {
        border-radius: 10px;
        border: 4px solid @color-azzurro-menu;
        padding: 20px;
        font-size: 24px;
        color: @color-azzurro-menu;
        background-color: #ffffff;
    }
    &-claim {
        font-size: 72px;
        text-transform: uppercase;
        color: #ffffff;
        text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    }
    &-bottomfloater {
        position: absolute;
        bottom: 50px;
        left: 50px;
    }
    &-blue {
        background-color: @color-azzurro-menu;
        display: flex;
        flex-wrap: nowrap;
    }
    &-white {
        background-color: #fff;
        display: flex;
        flex-wrap: nowrap;
    }
}

h1.yca-home-underlined {
    font-size: 72px;
    display: inline-block;
    text-transform: none;
    padding: 0 0 50px 100px;
    color: @color-azzurro-menu;
    border-bottom: 4px solid #e7dfdd;
}


h2.yca-home-underlined {
    font-size: 48px;
    display: inline-block;
    text-transform: none;
    padding: 0 0 25px 50px;
    color: #ffffff;
    border-bottom: 4px solid #e7dfdd;
}

h2.yca-home-casaimpresa {
    color: #999;
    padding: 0 60px;
    height: 50px;
    line-height: 50px;
    background-color: #333;
    margin: 0;
    cursor: pointer;
    position: relative;
    &:not(:last-child).selected {
        background-color: #ccc;
        &::after {
            content: "";
            position: absolute;
            right: -30px;
            border-top: #ccc 25px solid;
            border-left: #ccc 25px solid;
            border-right: #333 25px solid;
            border-bottom: #333 25px solid;
            z-index: 3;
        }
    }
    &:not(:first-child).selected {
        background-color: #ccc;
        &::before {
            content: "";
            position: absolute;
            left: -30px;
            border-top: #333 25px solid;
            border-left: #333 25px solid;
            border-right: #ccc 25px solid;
            border-bottom: #ccc 25px solid;
            z-index: 3;
        }
    }
    &:not(:last-child){
        &::after {
            content: "";
            position: absolute;
            right: -30px;
            border-top: #333 25px solid;
            border-left: #333 25px solid;
            border-right: #ccc 25px solid;
            border-bottom: #ccc 25px solid;
            z-index: -1;
        }
    }
}


.yca-home-offerte {
    &-wrapper {
        width: 100%;
        display: flex;
    }
    &-offerta {
        flex: 1;
        background-size: cover;
        background-position: center center;
        width: 50%;
        flex: 1;
        height: 36vw;
        display: inline-block;
        &-testo {
            color: #fff;
            display: inline-block;
            font-size: 4rem;
            font-weight: 700;
            padding: 40px 0 0 60px;
            margin: 0;
            border-bottom: 3px solid #fff;
        }
    }
}

.yca-home {
    &-bigbluepanel {
        &-wrapper{
            margin: 50px 0;
            width: 100%;
            background-color: @color-azzurro-menu;
            //padding: 40px 20px;
        }
        &-title {
            width: 33%;
            max-width: 33%;
            display: inline-block;
            vertical-align: middle;
            padding: 30px;
            & p {
                font-size: 3.8rem;
                color: #fff;
                margin: 0 0 30px 0;
                text-align: left;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        &-button {
            width: 33%;
            max-width: 33%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            & a {
                display: inline-block;
                margin: auto;
                color: @color-azzurro-menu;
                border: 4px solid @color-azzurro-menu;
                background-color: #fff;
                box-shadow: 4px 8px 20px 10px #00000033;
                font-size: 3rem;
                padding: 10px 20px;
                border-radius: 40px;
            }
        }
        &-image {
            display: inline-block;
            width: 33%;
            max-width: 33%;
            vertical-align: middle;
            height: 100%;
            min-height: 400px;
            background-position: center right;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}


.yca-offerte-wrapper {
    display: table;
    &-sep {
        display: table-cell;
        & > div {
            width: 4px;
            margin: 50px 60px;
            height: 100%;
        }
    }
}