.yca-territori {
    &-affianca {
        width: 100%;
        &-left, &-right {
            display: inline-block;
            padding: 10px 30px;
        }
    }
    &-title {
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 18px;
        text-align: left;
    }
    &-squarepre {
        text-decoration: none;
        font-size: 24px;
        &:before {
            content: "";
            display: inline-block;
            /* border: 12px solid #333; */
            width: 12px;
            height: 12px;
            background-color: #333;
            margin-right: 10px;
        }
    }
    &-greentable {
        margin-top: 70px;
        // & tr:first-child {
        //     & td:first-child {
        //         border-radius: 20px 0 0 0 !important;
        //     }
        //     & td:last-child {
        //         border-radius: 0 20px 0 0 !important;
        //     }
        // }
        // & tr:last-child {
        //     & td:first-child {
        //         border-radius: 0 0 0 20px !important;
        //     }
        //     & td:last-child {
        //         border-radius: 0 0 20px 0 !important;
        //     }
        // }
        & td {
            width: 50%;
            text-align: center;
            background-color: #657a84;
        }        
    }
    &-purpletable{
        // & tr {
        //     border-radius: 20px !important;
        // }
        & td:nth-child(odd) {
            background-color: #4a4f57;
            color: #ccc;
        }
        & td:nth-child(even) {
            background-color: #657a84;
            color: #ccc;
        }
        // & td:first-child {
        //     border-radius: 20px 0 0 20px !important;
        // }
        // & td:last-child {
        //     border-radius: 0 20px 20px 0 !important;
        // }
    }
    &-greytable {
        & th {
            background-color: #dddddd;
            color: #4a4f57;
        }
        & tbody {
            background-color: #dddddd;
            border-left: 1px solid #4a4f57;
            border-right: 1px solid #4a4f57;
        }
        & td {
            //border-bottom: 1px solid #4a4f57;
            background-color: #efefef;
            padding: 10px;
            color: #4a4f57;
        }
        & td:not(:last-child) {
            //border-right: 1px solid #4a4f57;
        }
    }
    &-bluetable {
        & th {
            background-color: #657a84;
        }
    }
}

table {
    // border-radius: 20px !important;
    margin: 20px auto;
    width: 60vw;
    // & th:first-child {
    //     border-radius: 20px 0 0 0 !important;
    // }
    // & th:last-child {
    //     border-radius: 0 20px 0 0 !important;
    // }
    & th, & td {
        font-size: 18px;
        padding: 30px 10px;
        color: #ccc;
    }
    & tr {
        &:first-child {
            border: 1px solid #000;
        }
    }
}