.yca-utils {
    &-privacy {
        & h1 {
            font-size: 2.8rem;
            color: @color-azzurro-menu;
            text-decoration: underline;
            text-align: left;
        }
        & h2 {
            font-size: 1.8rem;
            color: @color-azzurro-menu;
            text-decoration: underline;
            text-align: left;
        }
        & h3 {
            font-size: 1.4rem;
            color: #000;
            font-weight: 700;
            text-align: left;
            margin: .75rem 0 0 0;
        }
        & p {
            margin: 0 0 .75rem 0;
        }
        & img {
            margin-top: 6rem;
        }
    }
}