.yca-banner {
    &-wrapper {
        width: 100%;
        margin: 20px 0;
    }
    &-image {
        display: inline-block;
        width: 60%;
        margin-left: 10%;
        position: relative;
        & img {
            max-width: 100%;
            width: 100%;
            float: right;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0; right: 0;
            border-bottom: 50px solid white;
            border-left: 50px solid transparent;
            width: 0;
        }
    }
    &-text {
        width: 30%;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        &-inner {
            margin: 0 20px;
            padding: 10px 20px;
            font-size: 24px;
            color: #fff;
            text-transform: uppercase;
        }
        & p {
            margin: 0 20px;
            padding: 10px 20px;
            font-size: 18px;
            color: @color-stark;
            text-align: justify;
        }
    }

}



@media only screen and (min-width: 1000px) and (max-width: 1440px) {
    .yca-banner {
        &-image {
            width: 50%;
            margin: 0px;
        }
        &-text {
            width: 30%;
            &-inner {
                margin: 0 10px;
                padding: 10px 10px;
                font-size: 18px;
                color: #fff;
                text-transform: uppercase;
            }
            & p {
                margin: 0 10px;
                padding: 10px 10px;
                font-size: 14px;
                color: @color-stark;
                text-align: justify;
            }
        }
    }
}

@media only screen and (min-width: 10px) and (max-width: 999px) {
    .yca-banner {
        &-wrapper {
            position: relative;
        }
        &-image {
            width: 100%;
            margin: 0px;
            & img {
                width: 100%;
            }
        }
        &-text {
            position: relative;
            width: 100%;
            top: 10px;
            right: 0px;
            &-inner {
                margin: 5px 0;
                font-size: 66px;
                position: absolute;
                top: -200px;
            }
            & p {
                font-size: 36px;
                color: #fff;
                background-color: #ccc;
            }
            &-high {
                //top: -500;
                font-size: 58px;
            }
        }
    }
}

