.yca-bluepanel {
    &-imagewrapper {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: auto;
        //background-color: #ffffff;
        & img {
            width: 100px;
            height: 100px;
        }
    }
    &-text {
        color: #ffffff;
        text-transform: lowercase;
        text-align: center;
        height: 20px;
        font-size: 36px;
        line-height: 20px;
        margin: 40px 0px 20px;
    }
    &-wrapper {
        //display: inline-block;
        height: 240px;
        width: 200px;
        padding: 20px;
        text-align: center;
        flex: auto;
    }
}
.yca-whitepanel {
    &-imagewrapper {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin: auto;
        background-color: @color-azzurro-menu;
        & img {
            width: 100px;
            height: 100px;
        }
    }
    &-text {
        color: @color-azzurro-menu;
        text-transform: lowercase;
        text-align: center;
        height: 20px;
        font-size: 20px;
        line-height: 20px;
        margin: 40px 0px 20px;
    }
    &-wrapper {
        //display: inline-block;
        height: 160px;
        width: 200px;
        padding: 20px;
        text-align: center;
        flex: auto;
    }
}

.yca-stdpanel {
    &-imagewrapper {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        /* margin: auto; */
        background-color: @color-azzurro-menu;
        display: inline-block;
        vertical-align: middle;
        & img {
            width: 100px;
            height: 100px;
        }
    }
    &-text {
        color: @color-azzurro-menu;
        display: inline-block;
        text-transform: lowercase;
        /* text-align: center; */
        height: 26px;
        vertical-align: middle;
        font-size: 2.8rem;
        line-height: 26px;
        margin: 20px 40px;
    }
    &-wrapper {
        //display: inline-block;
        height: 160px;
        min-width: 400px;
        padding: 20px;
        text-align: left;
        flex: 1;
    }
}

.yca-faqpanel{
    &-wrapper {
        display: flex;
        margin: 32px 0;
        width: 100%;
        height: 200px;
    }
    &-arrow {
        flex: 1;
        max-width: 50px;
        padding: 75px 0;
        & img {
            max-width: 100%;
            height: 50px;
        }
    }
    &-logo {
        padding: 50px;
        & img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }
    }
    &-container {
        flex: 5;
        display: flex;
        height: 200px;
        background-color: #d1d1d4;
    }
    &-logo, &-right {
        flex: 1;
    }
    &-left {
        flex: 8;
        & h1, & p {
            color: #000;
        }
        & h1 {
            text-transform: uppercase;
            font-size: 1.75rem;
        }
        & p {
            font-weight: 300;
            font-size: 1.35rem;
        }
    }
    &-right {
        padding: 50px 90px;
    }
}

.yca-anchor-main {
    color: #d1d1d4;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 32px 64px;
    background-color: #fdfdfd;
    border-radius: 20px;
    border: 2px solid #d1d1d4;
    display: inline-block;
    cursor: pointer;
    &:hover {
        background-color: darken(#fdfdfd, 5%);
    }
}

.yca-anchor-light {
    color: #d1d1d4;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 2px 4px;
    display: inline-block;
    cursor: pointer;
    &:hover {
        color: darken(#d1d1d4, 5%);
    }
}