.yca-shard {
    &-faq {
        padding: 5px 10px;
        margin: 10px 0;
        border: 0px solid transparent;
        background-color: #fff;
        cursor: pointer;     
        width: 100%;
        height: 111px;
        position: relative;
        &-inner {
            position: absolute;
            top:0;
            width: 100%;
        }
        &.yca-to-left {
            text-align: left;
        }
        &.yca-to-right {
            text-align: right;
        }
        &-logo {
            width: 100px;
            height: 100px;
            display: inline-block;
            vertical-align:middle;
            & > img {
                width: 100%;
            }
        }
        &-left {
            display: inline-block;
            max-width: 80%;
            vertical-align:middle;
            &.yca-to-left {
                text-align: left;
                margin: 0 10px;
            }
            &.yca-to-right {
                text-align: right;
                margin-right: 10px;
            }
            &-title {
                color: #000;
                font-size: 1.2rem;
                padding: 0 20px;
            }
            &-subtitle {
                padding: 0 20px;
                &:after {
                    content: "[...scopri di più...]"
                }
            }
        }
    }
    &-faqcategory {

        &-title {
            display: block;
            text-transform: uppercase;
            margin-top: 50px;
            &.yca-to-left {
                text-align: right;
            }
            &.yca-to-right {
                text-align: left;
            }
            & > h1 {
                padding: 10px 0;
                color: #3260ab;
                margin: 0;
                display: inline-block;
                border-top: 4px solid #3260ab;
                border-bottom: 4px solid #3260ab;
                font-size: 3.8rem;
            }
        }
        &-container {
            overflow: hidden;
            padding: 10px 0;
            position: relative;
            &-logo {
                width: 20vw;
                height: 20vw;
                display: inline-block;
                min-height: 20vw;
                min-width: 20vw;
                vertical-align:middle;
                & > img {
                    width: 20vw;
                    position: absolute;
                }
                &.yca-to-left > img {
                    left: -50px;
                }
                &.yca-to-right > img {
                    right: -50px;
                }
            }
            &-faq {
                display: inline-block;
                vertical-align:middle;
                width: 60vw;
                padding: 0 6vw;
            }
        }
    }
}


.yca-to-left {
    text-align: left;
}
.yca-to-right {
    text-align: right;
}