.yca-menu-wrapper{
    max-width: 100%;
    padding: 10px 0px;
    &-langs {
        display: inline-block;
        opacity: .5;
        & img {
            height: 30px;
            width: 60px!important;
            margin: 0px 12px!important;
        }
        &.inactive {
            opacity: 1;
        }
    }
    &-menu {
        display: flex;
        &-element {
            display: inline-block;
            cursor: pointer;
            position: relative;
            vertical-align: middle;
            padding: 1px 0px;
            margin: auto;
            width: 19%;
            text-align: center;
           
            & img {
                width: 16vw;
                vertical-align: top;
            }
            & a {
                vertical-align: top;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 24px;
                color: @color-azzurro-menu;
            }
            
        }
    }
}

.yca-menumobile-wrapper {
    display: none;
}

.yca-menu-green-number {
    position: absolute;
    bottom: -200px;
    z-index: 8;
    //right: -50%;
    height: 350px;
    width: 350px !important;
}

@media only screen and (max-width: 999px) {
    .yca-menu-wrapper {
        max-width: 100%;
        width: 100%;
        &-hamburger {
            & img {
                height: 64px;
            }
        }
        &-menu {
            &-element:not(.yca-menu-wrapper-hamburger) {
                margin: auto;
                //width: 100%;
                display: none;
                padding: 5px;
                & ul {
                    display: none !important;
                }
                & a {
                    font-size: 36px;
                }
            }
        }
    }
}