/* The Modal (background) */
.yca-modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fff;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &-content {
        margin: auto;
        margin-top: 25%;
        padding: 20px;
        transform: translateY(-50%);
        max-width: 50vw;
        background-color: #fff;
        max-height: 80%;
        overflow: auto;
    }
    &-cross {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
}

