.yca-offerte-containerofferte {
    //width: 70%;
    margin: 20px auto 10px;
    display: flex;
}

.yca-pricebadge {
    &-description {
        padding: 10px 5px;
        font-size: 1.4rem;
        flex: 1;
        &-titolo {
            font-weight: 700;
        }
    }
}


@media only screen and (max-width: 999px) {
	.yca-offerte-containerofferte {
        width: 100%;
        padding: 20px;
        margin: 20px 0;
        flex-direction: column;
    }
    
    .yca-pricebadge {
        &-description {
            padding: 10px;
            font-size: 1.8rem;
            &-titolo {
                font-weight: 700;
            }
        }
    }
}