.yca-related {
    &-wrapper {
        width: 100%;
        margin: 20px 0;
    }
    &-image {
        display: inline-block;
        width: 30%;
        position: relative;
        & img {
            max-width: 100%;
        }
    }
    &-text {
        width: 30%;
        display: inline-block;
        vertical-align: top;
    }
    &-title {
        color: @color-fuschia;
        text-transform: uppercase;
        font-size: 34px;
    }
    &-description {
        color: @color-jewel;
        text-transform: uppercase;
        font-size: 24px;
    }
    &-separator {
        max-width: 100%;
    }

}

