.yca-sliderelement {
    &-wrapper {
        max-width: 100%;
        white-space: nowrap;
        display: inline-block;
    }
    &-text {
        color: @color-fuschia;
        position: absolute;
        z-index: 3;
        padding: 10px;
    }
    &-image {
        max-width: 100%;
        & img {
            max-width: 100%;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                bottom: 0; right: 0;
                border-bottom: 20px solid white;
                border-left: 20px solid transparent;
                width: 0;
            }
        }
    }
}