.yca-slider{
	white-space: nowrap;
    position: relative;
    max-width: 80%;
	margin: auto;
	margin-bottom: 20px;
}

.yca-slider-internal{
	display: inline-block;
	width: 100%;
	margin: auto;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	position: relative;
	& > a {
		display: inline-block;
		color: black;
		width: 480px;
		//height: 640px;
		max-width: 100%;
		vertical-align: top;
		margin: 0 20px 0 0;
	}
	& > a:last-child {
		margin: 0 80px 0 0 !important;
	}
	& > a:first-child {
		margin: 0 20px 0 80px !important;
	}
	&-play {
		height: 50%;
		width: 100%;
		z-index: 300;
		position: absolute;
		transform: translateY(100%);
		&-button {
			position: relative;
			display: block;
			margin: auto;
			width: 20%;
			transform: translateY(-50%);
		}
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1440px) {
	.yca-slider-internal {
		& > a:last-child {
			margin: 0 20px 0 0 !important;
		}
		& > a:first-child {
			margin: 0 20px 0 20px !important;
		}
	}	
}

@media only screen and (max-width: 999px) {
	.yca-slider {
		max-width: 100%;
		&-internal {
			& > a:first-child {
				margin: 0 20px 0 0 !important;
			}
			& > a:last-child {
	
				margin: 0 !important;
			}
		}	
	}
}

