.yca-smallbanner {
    &-wrapper {
        width: 30%;
        padding: 10px 30px;
        display: inline-block;
    }
    &-image {
        display: block;
        width: 100%;
        position: relative;
        & img {
            max-width: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0; right: 0;
            border-bottom: 20px solid white;
            border-left: 20px solid transparent;
            width: 0;
        }
    }
    &-text {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        &-inner {
            font-size: 24px;
            padding: 10px 0px;
            text-transform: uppercase;
        }
    }

}


@media only screen and (min-width: 1000px) and (max-width: 1440px) {
    .yca-smallbanner {
        &-wrapper {
            width: 50%;
        }
    }
}
@media only screen and (max-width: 999px) {
    .yca-smallbanner {
        width: 100%;
        margin: 0px;
        &-wrapper {
            width: 100%;
            display: block;
            margin: 0px;
            padding: 0px;
        }
        &-image {
            width: 100%;
            margin: 0px;
            & img {
                width: 100%;
            }
        }
        &-text {
            width: 100%;
            &-inner {
                font-size: 32px;
            }
        }
    }
}
