.os-thumbbox{
	white-space: nowrap;
	position: relative;
	&-points {
		text-align: center;
    	position: absolute;
    	width: 100%;
    	height: 10px;
        bottom: 10px;	
        margin-bottom: 32px;
	}
}

.os-thumbox {
	&-ball {
		display: inline-block;
		cursor: pointer;
		flex: 1;
		background-color: #333;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 0 5px;
		&-selected {
			background-color: #3260ab99;
		}
	}
}

.os-thumbbox-internal{
	display: inline-block;
	width: 100%;
	margin: auto;
	overflow: hidden;
	white-space: nowrap;
    vertical-align: top;
	margin-bottom: 70px;
	padding: 0 100px;
	text-align: center;
	& > a {
		display: inline-block;
		color: black;
		width: 480px;
		//height: 640px;
		max-width: 100%;
		vertical-align: top;
		margin: 0 20px 0 0;
	}
	& > a:last-child {
		margin: 0 80px 0 0 !important;
	}
	& > a:first-child {
		margin: 0 20px 0 80px !important;
	}
	& > * {
		vertical-align: top;
	}
}

.os-thumbbox:hover > .os-thumbbox-next, .os-thumbbox:hover > .os-thumbbox-previous {
	opacity: 1;
}

.os-thumbbox-keephidden {
	//opacity: 0 !important;
}

.os-thumbbox-next{
	right: 0px;
	.buttons();
}
.os-thumbbox-previous {
	float: left;
	.buttons();
}
	
.buttons(){
	position: absolute;
	top: 35%;
	transform: translateY(-50%);
	transition: all 1s;
	//opacity: 0;
	cursor: pointer;
	margin: 24px;
	width: 36px;
	height: 36px;
	//padding: 10px 11px 10px 11px;
    z-index: 4;	
    & img {
        width: 72px;
    }
}


.mediumOnly({
	.os-thumbbox-internal {
		& > a:last-child {
			margin: 0 20px 0 0 !important;
		}
		& > a:first-child {
			margin: 0 20px 0 20px !important;
		}
	}	
});

.smallOnly({
	.os-thumbbox-next, .os-thumbbox-previous{
		display: none !important;
	}
	.os-thumbbox-internal {
		& > a:first-child {
			margin: 0 20px 0 0 !important;
		}
		& > a:last-child {

			margin: 0 !important;
		}
	}	
});


@media only screen and (max-width: 1440px) {
	.os-thumbbox-next, .os-thumbbox-previous{
		display: inline-block;
	}

	.os-thumbbox{
		white-space: nowrap;
	}

	.os-thumbbox-internal{
		&::-webkit-scrollbar {
			width: 0px;  /* remove scrollbar space */
			background: transparent;  /* optional: just make scrollbar invisible */
		}
		display: inline-block;
		width: 100%;
		white-space: nowrap;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

.yca-thumbnews {
    &-wrapper {
		min-width: 400px;
		width: 30%;
        display: inline-flex;
        background-color: #d1d1d4;
        margin: 0 1%;
        white-space: normal;
    }
    &-image {
        flex: 1;
        width: 50%;
        height: 400px;
        & img {
            max-width: 300px;
            max-height: 300px;
        }
    }
    &-textwrapper {
		position: relative;
		flex: 1;
		text-align: left;
        //min-width: 300px;
        height: 400px;
        color: #fff;
		padding: 30px 10px;
		& h1 {
			font-size: 26px;
		}
		& a {
			bottom: 30px;
			position: absolute;	
		}
    }

}
