@import (css) url("https://fonts.googleapis.com/css?family=Ubuntu");

@import "shards/_lib.less";
@import "pages/_lib.less";
@import "input/_lib.less";
@import "mediaquery.less";

body, html {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    color: @color-void
}
* {
    box-sizing: border-box;
    background-position: center center;
    background-size: cover;
}
a { text-decoration: none; cursor: pointer; }

#yca-header, #yca-main, #yca-footer {
    width: 80vw;
    margin: auto;
    position: relative;
}

#yca-main {
    width: 80vw;
    // margin: 0 10%;
    // padding: 20px 40px;
}

.yca-autoflex {
    flex: 1;
    padding: 30px;
    
}

.yca-footer {
    background-color: #3260ab99;
    color: #fff;
    text-align: left;
    font-size: 14px;
    padding: 10px 0px;
    display: flex;
    & a {color: #fff}
    & div {
        &:not(:first-child) {
            border-left: 2px solid #fff;
        }
        flex: 1;
        padding: 0 30px;
    }
    &-title {
        font-size: 2rem;
        font-weight: 500;
        text-transform: lowercase;
        color: #fff;
    }
    &-big {
        font-size: 1rem;
        font-weight: 700;
    }
    &-small {
        font-size: .9rem;
        font-weight: 500;
    }
}

.yca-cover {
    max-width: 100%;
    width: 90%;
    margin: 0 5%;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: @color-stark
}
h1 a {
    color: darken(@color-stark, 10%)
}
h2 {
    font-size: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: @color-stark
}
h3 {
    font-size: 24px;
    width: 100%;
    display: block;
    text-transform: none;
    color: @color-stark;
    text-align: center;
}
.yca-smalldrops {
    position: absolute;
    padding: 240px 20px;
    color: #fff;
    font-size: 92px;
    line-height: 102px;
    top: 0px;
    left: 0px;
}

.os-header-navmobile {
    display: none;
}

.yca-dettagli {
    &-sidebar {
        font-size: 3rem; 
        line-height: 6rem; 
        font-family: Ubuntu, sans-serif;
    }
}

.yca-main {
    &-wrapper {
        display: flex;
        width: 80%;
        margin: auto;
    }
    &-main {
        display: inline-block;
        flex: 4;
        padding: 30px;
        margin: 0 !important;
    }
    &-side {
        display: inline-block;
        flex: 1;
        padding: 30px;
        & > div > a {
            width: 100%;
            margin: 15px 0;
            padding: .4rem 1.2rem;
        }
    }
}

@media only screen and (max-width: 1440px) {
    h1 {
        font-size: 24px;
    }
    h1 a {
        color: darken(@color-stark, 10%)
    }
    h2 {
        font-size: 18px;
        padding: 10px 10px;
    }
    h3 {
        font-size: 16px;
        width: 100%;
    }

    .yca-menu-green-number {
        position: absolute;
        bottom: -100px;
        z-index: 8;
        height: 200px;
        width: 200px !important;
    }
    #yca-header, #yca-main, #yca-footer {
        width: 100vw;
        margin: auto;
        position: relative;
    }
    .yca-smalldrops {
        padding: 60px 10px;
        color: #fff;
        font-size: 62px;
        line-height: 82px;
    }
    .yca-wrapper {
        width: 100vw !important;
        & > div > img { max-width: 100% }
    }
    .yca-home-claim {
        font-size: 36px;
    }
    .yca-home-whitebutton {
        font-size: 24px;
    }
    .yca-dettagli {
        &-sidebar {
            font-size: 2.5remrem; 
            line-height: 3rem; 
            font-family: Ubuntu, sans-serif;
        }
    }

}

@media only screen and (max-width: 999px) {
      

    .yca-menu-wrapper {
        display: none;
    }  
.os-header {
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0px;
    height: 48px;
    &-sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    &-nav, &-navtablet, &-navright {
        display: none;
    }
    &-navmobile {
        width: 100%;
        display: block;
        margin: 0;
        z-index: 3;
        &-nav-element-active {
            & span {
                //color: @color-osteocom !important;
            }
        }
        &-hamburger {
            //color: @color-menu;
            padding: 0 18px;
            & > img {
                width: 64px;
            }
            &:focus, &:hover {
                //color: @color-menu !important;
            }
            & span {
                font-size: 24px;
                line-height: 48px;
            }
        }
        
        &-logo {
            margin: auto;
            height: 48px;
            width: 165px;
            padding: 6px 0;
            display: inline-block;
            display: block;
            &-container {
                position: absolute;
                left: 50%;
                height: 48px;
                width: 165px;
                /* transform: translateX(-82px); */
                margin-left: -82.5px;
            }
        }
        &-container {
            display: none;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #00000099;
            overflow-y: scroll;
            z-index: 333;
        }
        &-header {
            background-color: #eef7f0;
            padding: 30px 20px;;
            white-space: normal;
            & > a, & > button {
                display: inline-block;
                margin: 0;
                width: 100%;
                margin-bottom: 12px;
            }
            & > a:first-child {
                margin-top: 40px;
            }
        }
        &-body {
            display: flex;
            flex-direction: column;
            max-width: 300px;;
            width: 300px;
            position: absolute;
            left: -300px;
            min-height: 100%;
            background-color: #fff;
            & > a, & > button {
                display: block;
                text-align: left;
                padding: 15px;
                background-color: #fff;
                & span {
                    color: #666;
                    vertical-align: middle;
                    padding: 0 13px;
                    font-size: 2.6rem;
                }
                &:hover {
                    background-color: darken(#fff, 5%)
                }
            }
            & > a:not(:first-child), & > button:not(:first-child) {
                border-top: 1px solid lighten(#666, 50%);
                border-radius: 0;
            }
        }
    }
}
    .yca-smalldrops {
        padding: 5px 5px;
        color: #fff;
        font-size: 4em;
        line-height: 2em;
    }
    .yca-footer {
         flex-direction: column;
         & div, & a, & p, & h1 {
             font-size: 2rem;
         }
     }
     
.yca-autoflex {
    &-columnifmobile {
        & > div {
            flex-direction: column;
        }
    }
}
}
//---- colors

@color-void: #0e0b16;
@color-fuschia: #a239ca;
@color-jewel: #4717f6;
@color-stark: #e7dfdd;
@color-azzurro-menu: #3260ab;


	