
.smallOnly(@rules) {
	@media only screen and (max-width: 999px) { @rules(); }
}

.mediumAndUp(@rules) {
	@media only screen and (min-width: 40em) { @rules(); }
}

.mediumOnly(@rules) {
	@media only screen and (min-width: 1000px) and (max-width: 1440px) { @rules(); }
}

.largeAndUp(@rules) {
	@media only screen and (min-width: 64em) { @rules(); }
}

.largeOnly(@rules) {
	@media only screen and (min-width: 64em) and (max-width: 74.9375em) { @rules(); }
}



.smallOnly({
	.yca-home-offerte-wrapper {
		display: block;
	}
	.yca-home-offerte-offerta {
		width: 100%;
	}
	.yca-home-bigbluepanel-wrapper {
		text-align: center;
	}
	.yca-home-bigbluepanel-title {
		max-width: 100%;
		width: 100%;
	}
	.yca-home-bigbluepanel-button {
		margin-bottom: 30px;
	}
	.yca-offerte-wrapper-offerte {
		width: 100% ! important;
	}
	.yca-home-casaimpresa {
		font-size: 26px;
	}
	.yca-offerte-threebuttons {
		flex-direction: row !important;
		float: none ! important;
		& > div {
			display: inline-block !important;
			flex: 1 !important;
			& > button {
				font-size: 54px;
			}
		}
	}
	.yca-territori-title {
		font-size: 48px !important;
	}
	.yca-territori-squarepre {
		font-size: 36px !important;
	}
	th {
		font-size: 36px !important;
	}
	td {
		font-size: 30px !important;
	}
	.yca-territori-note {
		font-size: 18px !important;
	}
	.yca-territori-connoi {
		width: 50%;
		max-width: 100%;
	}
	.yca-autoflex-column {
		flex-direction: column;
	}
	.yca-shard-faqcategory-container-faq {
		width: 100%;
	}
	.yca-shard-faq-inner {
		right: 0px !important;
		left: 0px !important;
	}
	.yca-shard-faq-left-title {
		font-size: 1.6rem;
	}
	.yca-shard-faq-left-subtitle {
		font-size: 1.8rem;
	}
	.yca-shard-faq {
		height: 220px;
	}
	.yca-shard-faqcategory-container-logo {
		display: none;
	}
	.yca-modal-content {
		max-width: 100%;
		transform: none;
		& > div {
			font-size: 24px;
		}
	}
});
